html {
    /*px 表示"像素(pixels)" ：基础字号为 10 像素*/
    font-size: 10px;
    /* Goole fons 输出的CSS */
    font-family: 'Open Sans', sans-serif;
    /* 该规则为整个页面设定了一个全局字体和子号（html）是整个页面元素 */
    background-color: #00539F;
}

body {
    width: 600px;
    margin: 50px auto;
    /* 盒子的外边距  margin 边缘*/
    padding: 0px 20px 20px 20px;
    /* padding 填充 页内边距 */
    border: 5px solid black;
    /* 5像素的黑色实线边框 */
    background-color: #FF9500;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 5px 5px 3px black;
    font-size: 60px;
    text-align: center;
    /* 标题居中 */
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
    /* 必须先赋予块级行为 */
    /* <body>是块级元素 即占据页面空间并且能够赋予外边距和其他改变间距的值 */
    /* 而图片是内联元素 不具备块级元素的功能 无法有外边距 */
    /* 因此必须使用display: block 赋予其块级行为 */
}

p,
li {
    font-size: 16px;
    /* line-height 行高属性 后面可跟不同参数 若数字 则当前字体大小乘数字 */
    line-height: 2;
    /* 字母间隔 */
    letter-spacing: 1px;
}

#changeUser {
    background-color: #297fff;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: auto 0px 0px auto;
    border-radius: 10px;
}

#changeUser:hover {
    background-color: #de0621;
    box-shadow: 3px 3px 2px black;
    /*margin: auto auto 0px 0px;*/
}